/* General */
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

h1 {
    color: #333;
}

.navbar {
    margin-bottom: 20px;
}

/* Main content wrapper */
.flex-fill {
    flex: 1;
}
/* Cierre */

/* Index */
.container {
    text-align: center;
}

.img-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.img-container img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
}

.img-container:hover img {
    transform: scale(1.1);
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 20px;
    text-align: left;
    transition: transform 0.5s ease;
    transform: translateY(100%);
}

.img-container:hover .overlay {
    transform: translateY(0);
}

.overlay h3 {
    margin: 0;
    font-size: 1.5em;
}

.overlay p {
    margin: 10px 0;
}

.overlay a {
    color: #fff;
    text-decoration: underline;
}
/* Cierre */

/* Politica */
.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}
/* Cierre */

/* Social */
.card-header .btn-link {
    text-decoration: none;
    color: #007bff;
    font-size: 1.25rem;
}

.card-header .btn-link:hover {
    text-decoration: none;
    color: #0056b3;
}

.card-body img {
    max-height: 300px;
    width: auto;
    display: block;
    margin: 0 auto;
}
/* Cierre */

/* Policial */
.card {
    margin-top: 20px;
    margin-bottom: 3rem;
}

.card-img-top {
    height: 400px;
    object-fit: cover;
}

.nav-tabs .nav-link {
    color: #007bff;
}

.nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
}
/* Cierre */

/* Ambiental */
.card {
    margin-top: 20px;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

.card-body {
    text-align: left;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}
/* Cierre */

/* Footer */
.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    border-top: 1px solid #e7e7e7;
    text-align: center;
    margin-top: 3rem;
}

.footer .footer-links {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer .footer-links .list-inline-item {
    margin-right: 15px;
}

.footer .footer-links .list-inline-item a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;
}

.footer .footer-links .list-inline-item a:hover {
    color: #007bff;
}

.footer p {
    margin: 0;
    color: #6c757d;
}
/* Cierre */
